.advantages {
    display: flex;
    align-items: center;
    padding: 40px 46px 40px 0;
    background-color: white;
    border-radius: 0px 60px 60px 0px;
    max-width: 1545px;
    overflow: hidden;

    @media (min-width: 1921px) {
        border-radius: 60px;
    }

    @media (max-width: 1220px) {
        border-radius: 60px;
        flex-direction: column-reverse;
    }

    @media (max-width: 767px) {
        padding: 30px 0;
        background-color: initial;
        overflow: initial;
    }

    .section__title {
        color: $blue;
        margin-bottom: 20px !important;
    }


    .swiper-scrollbar {
        position: static;
        margin-top: 20px;

        &-drag {
            background-color: $blue;
        }
    }

    @media(min-width: 768px) {
        .swiper-scrollbar {
            display: none;
        }
    }



    .swiper-slide {
        height: auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media (max-width: 767px) {
            img {
                max-height: 75%;
                border-radius: 16px 16px 0 0;
            }
            background-color: white;
            border-radius: 16px;
            overflow: hidden;

            .content {
                padding: 0 20px 20px;
            }
            
        }

        @media (max-width: 560px) {
            img {
                max-height: 55%;
            }
        }
    }

    .swiper-pagination {
        bottom: 30px;

        &-bullet {
            background: linear-gradient(0deg, #04394e, #04394e), linear-gradient(0deg, #c0cdd1, #c0cdd1);
            opacity: 1;
            transition: background-color 0.2s ease-out;
            &:hover {
                background: $green;
            }
        }

        &-bullet-active {
            width: 30px;
            height: 9px;
            background: $blue;
            border-radius: 10px;
        }
    }

    &__swiper {
        border-radius: 0px 33px 33px 0px;
        max-width: 100%;

        @media (max-width: 767px) {
            border-radius: 0;
            overflow: visible;
        }
    }

    &__info {
        margin-left: 54px;
        width: 37%;
        flex-shrink: 0;

        @media (max-width: 1220px) {
            width: 100%;
            margin-bottom: 35px;
        }

        @media (max-width: 767px) {
            margin-left: 0;
            .content {
                display: none;
            }
            margin-bottom: 0;
        }
    }
}
