.breadcrumbs {
    padding: 30px 0;
    ul {
        display: flex;
        align-items: center;
        overflow-x: auto;
    }

    li {
        margin-right: 15px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        &::after {
            content: "/";
            color: rgba(213, 231, 240, 1);
            transform: translateX(8px);
            display: inline-block;
        }
        &:last-child {
            margin-right: 0;

            &::after {
                content: initial;
            }

            a {
                color: $blue;
                pointer-events: none;
                &:hover {
                    color: $blue;
                }
            }
        }

        &:first-child {
            white-space: initial;
        }
    }

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        transition: color 0.2s ease-out;
        &:hover {
            color: $green;
        }
    }

    &__back {
        border: 1px solid #e7edf0;
        background-color: white;
        border-radius: 6px;
        width: 46px;
        height: 38px;
        cursor: pointer;
        margin-right: 20px !important;
        transition-property: border-color, background-color;
        transition: 0.2s ease-out;
        position: relative;
        svg {
            width: 18px;
            height: 17px;
            transform: scaleX(-1);
            position: absolute;
            left: calc(50% - 9px);
        }
        &:hover {
            background-color: $green;
            border-color: $green;

            svg {
                fill: white;
            }
        }
        &::after {
            transform: translateX(55px) !important;
        }
    }

    @media (max-width: 767px) {
        ul {
            padding-bottom: 10px;
        }
        &__back {
            min-width: 46px;
        }

        padding: 15px 0 5px;
    }
}
