.content {
    h3 {
        font-size: 28px;
        line-height: 32px;
        margin-top: 20px;
    }

    p {
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px;
    }

    li {
        font-size: 18px;
    }

    &_agreement {
        ol, ul {
            padding-left: 30px;
            margin-top: 8px;
        }

        p,
        li {
            line-height: 30px;
            margin: 0 0 8px;
        }

        h3 {
            font-size: 25px;
            margin-top: 10px;
            color: $main;
        }
    }

    &_service {
        img {
            border-radius: 32px;
            margin-top: 15px;
            width: 100%;
        }

        p {
            line-height: 30px;
        }

        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 38px;
            margin-bottom: 20px;
        }

        ul {
            list-style: initial;
            padding-left: 20px;
        }
    }

    &_sovet {
        h2 {
            font-size: 36px;
        }

        h3 {
            font-size: 24px;
            line-height: 30px;
            color: $main;
        }

        p {
            font-weight: 500;
            line-height: 30px;
        }
    }

    @media (max-width: 767px) {
        h3 {
            font-size: 18px;
            line-height: 18px;
        }

        p {
            font-size: 13px;
            line-height: 130%;
        }

        li {
            font-size: 13px;
        }

        &_service {
            br {
                display: none;
            }

            h2 {
                font-size: 18px;
                line-height: 130%;
            }

            img {
                border-radius: 16px;
            }
        }

        &_agreement {
            p, li {
                font-size: 14px;
                line-height: 25px;
            }

            ol, ul {
                padding-left: 20px;
            }
        }
    }

    @media (max-width: 560px) {
        &_sovet {
            margin-bottom: 10px;
            h2 {
                font-size: 24px;
                line-height: 28px;
            }

            br {
                display: none;
            }

            h3 {
                margin-bottom: 15px;
            }
        }

        
    }
}
