.contacts {
  display: flex;
  align-items: center;
  background-color: $gray;
  padding: 37px 0;
  border-radius: 60px 0 0 60px;
  overflow: hidden;
  width: 100vw;
  max-width: 1545px;

  @media (min-width: 1921px) {
    border-radius: 60px;
  }
  &_reverse {
    flex-direction: row-reverse;
    width: 100%;
    max-width: initial;
    .contacts__pass {
      @media(min-width: 768px) {
        display: none;
      }
     
    }
    .contacts__info {

      @media(min-width: 768px) {
        padding: 0 0 0 30px;
      }

      @media(max-width: 767px) {
        padding-bottom: 24px;
        background-color: #F0F4F8;
        border-radius: 0 0 16px 16px;
      }  
    
     
      .btn_all {
        margin: 0;
      }
    }

    .contacts__map {
      

      @media(min-width: 768px) {
        border-radius: 33px;
        iframe {
          height: 580px !important;
        }
      }
    }
  }
  &_white {
    background-color: white;
  }
  &__info {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 74px;
  }

  &__block {
    margin-bottom: 20px;

    h3 {
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
      color: $black;
      margin-bottom: 10px;
    }

    p,
    a {
      font-size: 18px;
      line-height: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
    }

    .btn {
      width: 100%;
    }
  }

  &__map {
    position: relative;
    border-radius: 33px 0 0 33px;
    width: 100%;
    overflow: hidden;
    iframe {
      height: 626px !important;
    }
  }

  &__pass {
    position: absolute;
    overflow: hidden;
    padding-left: 25px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/pass.png);
    background-repeat: no-repeat;
    width: 183px;
    height: 172px;
    transition: background-image 0.2s ease-out;
    &:hover {
      background-image: url(../img/pass-green.png);
    }

    &::before {
      content: "";
      display: block;
      width: 39px;
      height: 41px;
      background-size: contain;
      background-image: url(../img/chelovek.svg);
      background-repeat: no-repeat;
      margin-bottom: 6px;
    }

    svg {
      fill: white;
      width: 18px;
      height: 17px;
    }
    color: white;
    font-size: 20px;
    line-height: 20px;
    span {
      max-width: 120px;
    }
  }

  .section__title {
    margin-bottom: 30px;
  }

  &__btn {
    margin-top: 26px;
  }

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    width: initial;
    border-radius: 16px;
    padding: 0 0 25px;
    overflow: hidden;

    .section__title {
      display: none;
    }

    &__info {
      max-width: initial;
      width: 100%;
      padding: 24px 30px 0;
    }

    &__btn {
      margin-left: 0;
      margin-top: 10px;
    }

    &__map {
      border-radius: 0;
      iframe {
        height: 400px !important;
      }
    }
  }

  @media (max-width: 767px) {
    &__map {
      iframe {
        height: 309px !important;
      }
    }

    &__pass {
      width: 103px;
      height: 95px;
      font-size: 12px;
      line-height: 13px;
      padding-left: 13px;
      background-size: 100%;

      svg {
        width: 10px;
        height: 10px;
      }

      &::before {
        width: 22px;
        height: 22px;
      }

      span {
        max-width: 70px;
      }
    }

    &__block {
      margin-bottom: 16px;
      h3 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
      }

      p {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }
}
