.dentist {
  max-width: 1360px;
  background: linear-gradient(0deg, #f0f4f8, #f0f4f8), #ffffff;
  border-radius: 32px;
  margin: 0 auto 65px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__info {
    max-width: 402px;
  }

  &__photo {
    transform: scaleX(-1);
    width: 485px;
  }

  &__spec {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &__experience {
    margin-bottom: 20px;
    border-radius: 15px;
    transform: initial;
  }

  @media (min-width: 768px) and (max-width: 820px) {
    &__container {
      padding-top: 45px;
    }

    &__info {
      margin-bottom: 45px;
    }
  }

  @media (max-width: 767px) {
    &__photo {
      width: 290px;
    }
  }

  @media (max-width: 580px) {
    max-width: calc(100vw - 48px);
    margin-bottom: 25px;
    &__container {
      flex-direction: column-reverse;
      align-items: start;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    &__info {
      max-width: 100%;
      margin-top: 15px;
    }

    &__photo {
      align-self: center;
      max-height: 270px;
      object-fit: contain;
    }

    &__experience {
      border-radius: 0 15px 15px 0;
      transform: translateX(-24px);
    }

    &__title,
    &__spec {
      padding-left: 12px;
      
    }

    &__title {
      font-size: 18px;
      line-height: 20px;
    }

    &__spec {
      margin-top: 8px;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
