.education {
  .swiper-scrollbar {
    position: static;
    margin-top: 40px;
    cursor: pointer;

    &-drag {
      background-color: $blue;
    }
  }

  &__item {
    padding: 24px;
    background: $gray;
    border-radius: 33px;
    position: relative;
    transition: background-color 0.2s ease-out;
    &:hover {
      background: #f1f8f0;
    }

    overflow: hidden;
  }

  &__item-top {
    display: flex;
    align-items: center;
    a {
      transition: color 0.2s ease-out;
      &:hover {
        color: $green;
      }
    }
  }

  &__year {
    border: 1px solid #00adef;
    border-radius: 45px;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: $black;
    margin-right: 10px;
    width: max-content;
  }

  &__show {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
  }

  &__photo {
    height: 100px;
    position: absolute;
    top: 32px;
    right: 0;
    border-radius: 8px 0 0 8px;
    max-width: 140px;
    transform: translateX(60%);
  }

  &__item-bottom {
    margin-top: 10px;
    max-width: 270px;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    overflow: visible;
    .swiper-scrollbar {
      margin-top: 25px;
    }
  }

  @media (max-width: 650px) {
    .swiper-slide {
      max-width: 264px;
    }

    &__item {
      padding: 17px;
    }

    &__year {
      font-size: 14px;
      line-height: 17px;
      padding: 4px 11px;
      margin-right: 7px;
    }

    &__show {
      font-size: 14px;
      line-height: 17px;
    }

    &__item-bottom {
      max-width: 193px;
    }

    &__title {
      font-size: 14px;
      line-height: 17px;
    }

    &__description {
      font-size: 12px;
      line-height: 17px;
    }

    &__photo {
      top: 18px;
    }
  }
}
