.header {
    &__top {
        .page__container {
            padding-top: 30px;
            padding-bottom: 26px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        border-radius: 0px 0px 60px 60px;
        background-color: white;
    }

    &__logo {
        background-image: url(../img/logo-header.svg);
        width: 258px;
        height: 50px;
    }

    &__block {
        display: flex;
        svg {
            flex-shrink: 0;
            fill: $blue;
            width: 18px;
            height: 18px;
        }

        p {
            margin-left: 5px;
            color: $black;
            font-weight: 500;
            font-size: 20px;
            text-align: right;
            line-height: 18px;
        }

        span {
            font-size: 14px;
            line-height: 17px;
            color: $main;
            padding-bottom: 2px;
            border-bottom: 1px solid $blue;
            cursor: pointer;
        }

        &_address {
        }

        &_phone {
            position: relative;
            cursor: pointer;
            .triangle {
                right: -15px;
                top: 2px;
                cursor: pointer;
            }
        }
    }

    &__social {
    }

    &__bottom {
       
        border-bottom: 1px solid rgba(12, 74, 98, 0.1);
    }

    &__nav {
        padding: 12px 0;
        > ul {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $main;
            }

            > li {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .link-dropdown {
            > a {
                display: flex;
                align-items: center;
                &::after {
                    content: "";
                    background-image: url(../img/triangle.svg);
                    opacity: 0.65;
                    width: 10px;
                    height: 10px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: block;
                    margin-left: 4px;
                    flex-shrink: 0;
                }
            }
            div {
                display: none;
            }
        }

        .link-reviews {
            span {
                margin-left: 2px;
                border-radius: 9999px;
                padding: 2px 4px;
                background-color: $blue;
                font-size: 11px;
                line-height: 12px;
                color: white;
            }
        }

        .selected {
            color: $blue;
        }
    }

    .btn {
    }
}
.page {
    &__container {
    }
}
.logo {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}
.triangle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url(../img/triangle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.social {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35px);
    gap: 5px;
    min-width: 115px;

    a {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            fill: white;
            width: 18px;
            height: 18px;
        }
    }

    .viber {
        background: #7f3cd3;
        svg {
            transform: translate(0, 1px);
        }
    }
    .whatsapp {
        background: #3cd382;
    }
    .vk {
        background: #0077ff;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $linear-blue;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 16px 22px;
    border-radius: 999px;
}
