.header {
  &__top {
    .page__container {
      padding-top: 30px;
      padding-bottom: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    border-radius: 0px 0px 60px 60px;
    background-color: white;
  }

  &__logo {
    background-image: url(../img/logo-header.svg);
    width: 258px;
    height: 50px;
  }

  &__block {
    display: flex;
    svg {
      flex-shrink: 0;
      fill: $blue;
      width: 18px;
      height: 18px;
    }

    p {
      margin-left: 5px;
      color: $black;
      font-weight: 500;
      font-size: 20px;
      text-align: right;
      line-height: 18px;
    }

    span {
      font-size: 14px;
      line-height: 17px;
      color: $main;
      padding-bottom: 2px;
      border-bottom: 1px solid $blue;
      cursor: pointer;
      transition-property: border-color;
      transition: 0.2s ease-out;
      &:hover {
        border-color: $green;
      }
    }

    &_address {
    }

    &_phone {
      position: relative;
      cursor: pointer;
      .triangle {
        right: -15px;
        top: 2px;
        cursor: pointer;
      }
    }
  }

  &__bottom {
    border-bottom: 1px solid rgba(12, 74, 98, 0.1);
  }

  &__nav {
    padding: 12px 0;
    > ul {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $main;
        transition: color 0.2s ease-out;

        &:hover {
          color: $green;
        }
      }

      > li {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .link-dropdown {
      position: relative;
      z-index: 300;
      > a {
        display: flex;
        align-items: center;
        &::after {
          content: "";
          background-image: url(../img/triangle.svg);
          opacity: 0.65;
          width: 10px;
          height: 10px;
          background-repeat: no-repeat;
          background-size: 100%;
          display: block;
          margin-left: 4px;
          flex-shrink: 0;
        }

        &::before {
          opacity: 0;
          visibility: 0;
          transition-property: opacity, visibility;
          transition: 0.2s ease-in-out;
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          background: white;
          top: 120%;
          left: calc(50% - 9px);
          transform: rotate(45deg);
          position: absolute;
        }
      }
      > div {
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition: 0.2s ease-in-out;
        position: absolute;
        padding-top: 10px;
        width: max-content;
        left: -50%;
      }

      ul {
        background: white;
        border-radius: 8px;
        padding: 8px 0;
      }

      li {
        a {
          padding: 10px 25px;
          font-weight: 500;
          font-size: 15px;
          line-height: 120%;
          color: $main;
          background: white;
          display: block;
          min-width: 350px;
          max-width: 400px;

          &:hover {
            position: relative;
            background: linear-gradient(0deg, rgba(128, 214, 247, 0.15), rgba(128, 214, 247, 0.15)), #f0f4f8;
            &::after {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              bottom: 0;
              width: 3px;
              background: $blue;
              display: block;
            }
            font-weight: 700;
            color: #050505;
          }
        }
      }

      &:hover {
        div {
          opacity: 1;
          visibility: visible;
        }

        > a {
          color: $green;
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .link-reviews {
      span {
        margin-left: 2px;
        border-radius: 9999px;
        padding: 2px 4px;
        background-color: $blue;
        font-size: 11px;
        line-height: 12px;
        color: white;
      }
    }

    .link-stocks {
      position: relative;
      &::after {
        content: "%";
        font-weight: 800;
        font-size: 58px;
        line-height: 70px;
        color: $main;
        opacity: 0.1;
        position: absolute;
        top: -125%;
        left: 0;
      }
    }

    .selected {
      color: $blue;
    }
  }
}

.page_inner .link-dropdown {
  > a {
    &::before {
      background: $gray;
    }
  }
  ul {
    background: $gray;
    a {
      background: $gray;
    }
  }
}
