.popular {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        gap: 15px 30px;
    }

    &__item {
        &:first-child {
            .popular__item-top {
                background: $linear-green;
            }
        }
    }

    &__item-top {
        position: relative;
        z-index: 2;
        padding: 20px 0;
        border-radius: 33px;
        background: $blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        a {
            font-weight: 700;
            font-size: 30px;
            line-height: 90%;
            color: white;
            padding-left: 48px;
            word-break: break-word;
        }
        div {
            background-position: right center;
            background-size: contain;
            min-width: 90px;
            min-height: 90px;
            background-repeat: no-repeat;
        }
    }

    &__item-bottom {
        background: rgba(240, 244, 248, 0.5);
        border-radius: 0 0 33px 33px;
        padding: 55px 30px 30px;
        margin-top: -30px;
        position: relative;
        z-index: 1;

        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            &:hover {
                color: $green;
            }

            padding-bottom: 2px;
            border-bottom: 1px solid $blue;
        }
    }

    &__all {
        //display: none;
        margin-top: 30px;
    }
}
