.popular {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        gap: 15px 30px;

        &_service {
            grid-template-columns: 1fr;
            .popular__item-top {
                padding: 10px 0;
                a {
                    font-size: 25px;
                    line-height: 90%;
                }

                div {
                    min-width: 84px;
                    min-height: 84px;
                }
            }
        }
    }

    &__item {
        background: rgba(240, 244, 248, 0.5);
        border-radius: 33px;
        transition: background-color 0.2s ease-out;
        position: relative;

        

        &_active,
        &:hover {
            .popular__item-top {
               /*  background: $linear-green; */
                z-index: 2;
                &::after {
                    opacity: 1;
                    transition: opacity 0.2s ease-out;
                    z-index: -1;
                }
            }
        }

        &_services {
            .popular__item-top {
                padding: 10px 0;
                > div {
                    min-width: 84px;
                    min-height: 84px;
                }
            }
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-top {
        position: relative;
        z-index: 2;
        padding: 20px 0;
        border-radius: 33px;
        background: $blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        &::after {
            position: absolute;
            content: "";
            display: block;
            background: $linear-green;
            opacity: 0;
            left: 0;
            width: 101%;
            height: 101%;
        }
        a {
            font-weight: 700;
            font-size: 30px;
            line-height: 90%;
            color: white;
            padding-left: 48px;
            word-break: break-word;

            &.with-arrow {
                display: flex;
                padding-left: 45px;

                svg {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    flex-shrink: 0;
                    margin-right: 5px;
                }
            }
        }
        div {
            background-position: right center;
            background-size: contain;
            min-width: 90px;
            min-height: 90px;
            background-repeat: no-repeat;
        }
    }

    &__item-bottom {
        padding: 55px 30px 30px;
        margin-top: -30px;
        position: relative;
        z-index: 1;

        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            &.active {
                border-color: $blue;
                color: $blue;
            }
            &:hover {
                color: $green;
            }

            padding-bottom: 2px;
            border-bottom: 1px solid $blue;
        }
    }

    &__all {
        //display: none;
        margin-top: 30px;
    }
}
