.sovet {
    margin-top: 40px;
    padding: 30px 40px 24px 0;
    background: rgba(240, 244, 248, 0.5);
    border-left: 5px solid $blue;
    border-radius: 0px 32px 32px 0px;
    display: flex;
    justify-content: space-between;

    .doctor {
        background: transparent;
        width: 31.6%;
        margin-right: 30px;
        flex-shrink: 0;

        & > a {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 130px;
                display: block;
                background: linear-gradient(180deg, rgba(248, 250, 252, 0) 70.05%, #f8fafc 94.87%);
            }
        }
        &__experience {
            transform: translateX(-46px);
        }
        &__info {
            padding-left: 46px;
        }
        &__info-top {
            padding-left: 0;
        }
    }

    @media (max-width: 1024px) {
        .doctor {
            width: 36%;
            align-self: flex-end;
        }
    }

    @media (max-width: 900px) {
        flex-direction: column-reverse;
        border-left: none;
        padding: 30px;
        width: calc(100% + 60px);
        transform: translateX(-30px);
        .doctor {
            overflow: initial;
            width: 100%;
            display: flex;
            position: relative;

            align-self: initial;

            > a {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 100%;
            }

            &__photo {
                transform: scaleX(-1);
                height: 100%;
            }

            &__info {
                height: initial;
                padding-left: 0;
            }

            &__btn {
                min-height: 45px;
                margin-left: 0;
            }

            &__experience {
                transform: translateX(-10px);
                border-radius: 15px;
            }
        }
    }

    @media (max-width: 560px) {
        padding: 15px 30px;
        margin-top: 25px;

        .doctor {
            > a {
                right: -15px;
                &::after {
                    bottom: initial;
                    top: 8px;
                }
            }
            &__info {
                width: 100%;
                padding-top: 10px;
            }

            &__btn {
                max-width: 100%;
                margin-top: 22px;
            }

            &__photo {
                height: 131px;
            }

            &__name,
            &__spec {
                max-width: 206px;
            }
        }
    }
}
