.stocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}
.stock {
    position: relative;
    background: #f7f7f7;
    border-radius: 32px;
    padding: 40px 37px 34px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
        content: "";
        position: absolute;
        display: block;
        background: linear-gradient(
            90deg,
            #f0f4f8 15.63%,
            rgba(240, 244, 248, 0.93) 40.12%,
            rgba(240, 244, 248, 0) 71.55%
        );
        z-index: 2;
        width: 140%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__info {
        max-width: 345px;
        z-index: 2;
    }

    &__time {
        border-radius: 15px;
        background: $linear-blue;
        padding: 5px 14px;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 15px;
        width: max-content;
        color: white;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    &__description {
        font-size: 18px;
        line-height: 24px;
    }

    &__prices {
        display: flex;
        align-items: center;
        margin-top: 35px;
        z-index: 2;
        span {
            font-family: 'Roboto';
        }
    }

    &__price {
        font-weight: 500;
        font-size: 36px;
        line-height: 34px;
        color: $black;
    }

    &__price-old {
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        text-decoration-line: line-through;
        margin-left: 22px;
    }
}
